.mission-body{
  background-color: rgba(245,245,245,1);
  border-bottom: 20px rgba(255,255,255,1) solid;
  padding: 100px 70px 50px 70px;
  letter-spacing: 1px;

}

.about-body{
  padding: 60px 70px 60px 70px;
  background-color: rgba(245,245,245,1);
  letter-spacing: 1px;
}

.about-body h1, .mission-body h1{
  text-align: center;
  padding-bottom: 20px;
  color: rgba(0, 75, 150, 1);
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;

}



.about-body p, li, .mission-body{
  text-align: justify;
  font-family: 'Lato', sans-serif;
  color: rgba(50,50,100,1);
}

@media only screen and (min-width: 421px){

  .about-body h1, .mission-body h1{
    text-align: center
  }


  .about-body h5, .mission-body h5{
    display:none
  }
}

@media only screen and (max-width: 420px){

  .mission-body{
    padding-top: 50px;
    padding-bottom: 50px
  }
  .about-body h5, .mission-body h5{
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-bottom: 30px;
  }

  .about-body h1, .mission-body h1{
    display:none
    }
}
