.mission-body, .about-body, .affiliates-body{
  background-color: rgba(245,245,245,1);
  border-bottom: 20px rgba(255,255,255,1) solid;
  padding: 100px 10vw 50px 10vw;
  letter-spacing: 1px;

}

.about-body h1, .mission-body h1, .affiliates-body h1{
  text-align: center;
  padding-bottom: 20px;
  color: rgba(0, 75, 150, 1);
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  letter-spacing: 2px;

}

.affiliate-a{
  background-color: rgba(255,255,255,1);
  height: 150px;
  width: calc(95%/3);
  text-align: center;
  margin: calc(5%/6);
  padding: 10px;
  text-decoration: none;
  color: rgba(0, 75, 150, 1);

}

.affiliate-a .name{
  font-size: 1.2em;
}

.affiliate-a .location{
  font-size: 0.8em;
}

.affiliate-a:hover{
  box-shadow: 5px 5px 5px rgba(127,127,127,0.5);

  text-decoration: none;
  animation-name: affiliate-a;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-duration: 0.3s;
}

@keyframes affiliate-a {
  0% {transform: scale(1);}

  100% {transform: scale(1.075);}
  100% {background:  rgba(50, 170, 200,0.5) }
}



.affiliate-card{
  position: relative;
  top: 50%;
  transform: translate(0%, -50%);
}

.about-body p, li, .mission-body{
  text-align: justify;
  font-family: 'Lato', sans-serif;
  color: rgba(50,50,100,1);
}

@media only screen and (min-width: 421px){

  .about-body h1, .mission-body h1, .affiliates-body h1{
    text-align: center
  }


  .about-body h5, .mission-body h5, .affiliates-body h5{
    display:none
  }
}

@media only screen and (max-width: 420px){

  .mission-body{
    padding-top: 50px;
    padding-bottom: 50px
  }
  .about-body h5, .mission-body h5, .affiliates-body h5{
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-bottom: 30px;
  }

  .about-body h1, .mission-body h1, .affiliates-body h1{
    display:none
    }
}

@media only screen and (max-width: 768px) {
  .affiliate-a{
    width: 100%;
    min-width: 300px;
  }
}
