

.top-row{
  justify-content:space-between;
  width: 100%;
}

.parallax-window {
  min-height: 500px;
  background: transparent;
}

.parallax-mirror {
  min-height: 500px;
  background: transparent;
}

.description-form{
  margin-bottom: -100px;
}

.background-img{
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(to right, rgba(0,75,150,0.7), rgba(0,0,0,0));
}

.snippet{
  color: rgba(255,255,255,0.8);
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  padding-left: 30px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.5px;

}

.cbrne-snippet {
  padding-top: 25px;
  padding-left: 40px;
  color: rgba(255,255,255,1);
  font-weight: 200;
  letter-spacing: 5px;

}

.cbrne-snippet:first-child {
  padding-top: 55px;

}


@media only screen and (max-width: 900px){
  .background-img{
    height: 550px;
    width: 100%;
    margin-top: -45px;
    padding-top: 45px;
  }
}

@media only screen and (max-width: 460px){
  .cbrne-snippet{
    font-size: 16px;
    font-weight: 300;
    padding-left: 10px;
  }
  .snippet{
    font-size: 20px;

  }
  .background-img{
    height: 700px;
    padding-top: 250px;
    margin-top: -300px;
  }
}
