#navigation{
  background-color: rgba(255,255,255,1);
  border-style: solid;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: none;
  border-width: thin;
  padding-left: 10px;
  padding-right: 0;
  padding-bottom: 5px;
  border-bottom-color: rgba(127,127,127,1);
  padding-top: 5px;
  min-height: 60px;
}

#header{
  padding: 0;

}

.cbrne{
  font-size: 60px;
  font-weight: bold;
  stroke: black;
}

.parallax-slider{
  margin-top: 100px;
}

.navbar-dark{
  border-color: rgba(0, 75, 150, 1);
  color: rgba(0, 75, 150, 1);
}



#menu-button{
  border-color: rgba(0, 75, 150, 1);
  padding: 10px 6px 10px 9px;
  font-size: 16px;
  letter-spacing: 3px;
}

#menu-button:hover{
  outline-color:  rgba(0, 75, 150, 0.5);
  outline-style: solid;
  outline-width: 2px;
}

#menu-button:active{
  outline-color:  rgba(0, 75, 150, 1);
  outline-style: solid;
  outline-width: 4px;
}

#menu-button:focus{
  background-color: rgba(0, 75, 150, 1);
  color: rgba(255,255,255,1);
  outline-style: solid;
  outline-width: 2px;
}


#menu-button:not(:hover){
  background-color: rgba(255,255,255,0);
  outline: none;
  color: rgba(0, 75, 150, 1);
}

.navbar-brand{
  font-size: 0.9em;
  font-weight: lighter;
}

.navbar-nav{
  /*text-align: center;*/
  margin-left: auto;
  padding: 0;
  font-size: 0.8em
}

.navbar-toggler{
  border-radius: 0;
  color: rgba(0, 75, 150, 1);
  margin-right: 10px;
  font-weight: lighter;
}

.nav-link{
  font-family: 'Lato', sans-serif;
  /*font-family: 'Baloo', cursive;*/
  font-weight: 50;
  letter-spacing: 3px;
  color: rgba(0, 75, 150, 1);
  height: 30px;
  margin-top: -5px;
}

.navbar-expand{
  padding: 0;
}


.nav-item{
  border-style: solid;
  border-width: thin;
  padding-left: 10px;
  padding-right: 10px;
  border-color: rgba(200,200,200,1);
  border-top: 0;
  border-bottom: 0;
  border-right: 0;
}

.nav-item:first-child{
  border-left-color: rgba(127,127,127,0);
}

#navbarNavDropdown>ul>li{
  text-align: center;
}

#header{
  color: rgba(0, 75, 150, 1);
  font-family: 'Helvetica', sans-serif;
  font-size: 0.9em;
  /*font-family: 'Squada One', cursive;*/
}

#navigation{
  /* background-color: rgba(255,255,255,0); */
  border-color: rgba(127,127,127,1);
  border-style: solid;
  border-bottom: 2px;
  border-right: none;
  border-left: none;
  border-top: none;
  border-width: thin;
}


.navbar-dark{
  border-color: rgba(0, 75, 150, 1);
  color: rgba(0, 75, 150, 1);
}

.navbar-toggler{
  border-color: rgba(0, 75, 150, 1);
  padding-right: 4px;
  padding-left:4px;
}



#navbarNavDropdown>ul>li{
  text-align: center;
}

#header{
  color: rgba(0, 75, 150, 1);
  font-family: 'Helvetica', sans-serif;
  font-size: 0.9em;
}

#nav-logo{
  height: 100px;
  width: auto;
}

a:active{
  background-color: rgba(0, 0, 255, 0.1);
}

.current{
  color: rgba(50, 170, 200, 1);
}

.nav-link:hover{
  animation-name: linkhover;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-duration: 0.2s;
  color: rgba(50, 50, 50, 1);
  transition-timing-function: ease-in-out;
}

@keyframes linkhover{
  0% {transform: scale(1);}
  100% {transform: scale(1.2);}
}


@media only screen and (max-width: 470px){
  #header img{
    height: 50px;
    width: auto;
  }
  .cbrne{
    font-size: 40px;
    font-weight: bold;
  }

}


@media only screen and (max-width: 576px){
  #navigation{
    background: rgba(255, 255,255,1);
    min-height: 50px;
  }
  .navbar-item{
    border-left-color: rgba(0,0,0,0);
  }
  .nav-item{
    border:none;
  }

}

@media only screen and (max-width: 768px) {
  #navigation{
    background: rgba(255, 255,255,1);
    min-height: 50px;
  }
  .nav-item{
    border:none;
  }


}
