body{
  position: relative;
  padding-top: 50px;
}


.ppe-container, .spill-container, .remediation-container, .training-container{
  background-color: rgba(245, 245, 245, 1);
  margin-top: 20px;
  padding-bottom: 50px;
}

/* spy nav */
.spy-container-expanded{
  position:fixed;
  z-index: 4;
  width: 100vw;
}

.spy-container-expanded nav{
  border-bottom: none;
  z-index: 2;
}

.active{
  background-color: rgba(245, 245, 245, 1); !important;
}

.spy-container-expanded .nav-link{
  width: calc(99vw/4);
  border-right: 0px;
  margin-bottom: 10px;
  color: rgba(50,50,50,1);
  background-color: rgba(50, 100, 150, 1);
  color: rgba(245, 245, 245, 1);
  font-size: 12px;
  border-bottom: 0px rgba(0,0,0,0) solid;
  text-align: center;
  font-weight: 100;
  z-index: 2;
  font-family: 'Lato', sans-serif;

}

.nav-tabs{
  border: 0px !important;
  background-color: rgba(50, 100, 150, 1);

  margin-top: 10px;
}


.spy-container-expanded .nav-item{
  height: 45px;
  line-height: 30px;
  width: auto;
  border-left: 1px rgba(245, 245, 245, 1) solid;
  border-right: 1px rgba(245, 245, 245, 1) solid;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0px;
  padding-right: 0px;
}

.spy-container-expanded .nav-link{
  border-radius: 0px !important;
  height: 45px;
}
/* services */

.service-container{
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: rgba(245, 245, 245, 1);
  z-index: -3
}

.service-section{
  padding-bottom: 30px;
}

.service-section h1{
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  color: rgba(50, 100, 150, 1);
  text-align: center;
  letter-spacing: 2px;
}

.service-section h4{
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
  color: rgba(50, 100, 150, 1);
  letter-spacing: 2px;

}

.gallery-pic{
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 10px rgba(245, 245, 245, 1) solid;
}

.industry-list{
  list-style-type: none;
  padding: 9px;
  letter-spacing: 3px;
}

.industry-list li {
  line-height: 130px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  border: 1px rgba(0,0,0,0) solid;
  min-width: 250px;
  width: 80vw;
  max-width: 400px;
  height: 130px;
  z-index: 2;
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: none;
  font-family: 'Lato', sans-serif;
}

.industry-list li p{
  background: radial-gradient(40% 20% at center, rgba(255,255,255,1), rgba(255,255,255,0));
  color: rgba(0, 0, 0, 1);
}


.section-item{
  height: 600px;
}

.intro{
  color: rgba(50, 100, 150, 1);
  padding-bottom: 30px;
  padding-left: 7vw;
  padding-right: 7vw;
  font-size: 1.2em;
  text-align: justify;
  letter-spacing: 1px
}

/* table */


.table-head{
  border: 1px rgba(245, 245, 245, 1) solid;
  text-align: center;
  padding: 20px;
  color: rgba(245, 245, 245, 1);
  background-color: rgba(25, 100, 100, 1);
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px

}

.table-data{
  border: 1px rgba(245, 245, 245, 1) solid;
  height: 50px;
  padding: 20px;
  color: rgba(245, 245, 245, 1);
  background-color: rgba(25, 140, 140, 1);
  font-family: 'Lato', sans-serif;
  letter-spacing: 1.5px;
}

@media only screen and (max-width: 794px){
  .spy-container-expanded .nav-link{
    width: calc(98.5vw/4);
}
}

@media only screen and (min-width: 531px) {
  .spy-container-condensed{
    display: none;
  }

}

@media only screen and (max-width: 530px) {
  .spy-container-expanded{
    display: none;
  }
  .nav-tabs{
    margin-top: 0px;
  }


  .spy-container-condensed{
    position:fixed;
    z-index: 4;
    width: 100vw;
    height: auto;
    background-color: rgba(50, 100, 150, 1);
    vertical-align: middle;
  }

  .spy-container-condensed .nav-link{
    height: 70px;
    line-height: 70px;
    vertical-align: middle !important;
    text-align: center;
    padding: 0px;
  }

  .active{
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-radius: 0px !important;
    border: none !important;
  }


  .spy-container-condensed .nav-item{
    height: 70px;
    vertical-align: middle;
    width: 25vw;

    margin-left: 0;
    margin-right: 0;

  }

    .spy-container-condensed .nav-item img{
      height: 45px;
      width: auto;

    }

  .table-head{
    font-size: 0.8em
  }

  .table-data{
    font-size: 0.8em
  }
}



@media only screen and (max-width: 470px) {
  .spy-container-condensed{
    margin-top: -40px;

  }


  .service-container{
    padding-top: 100px;
    margin-top: -40px;
  }

  .table-head{
    font-size: 0.6em;
    letter-spacing: 1px;
  }

  .table-data{
    font-size: 0.6em;
    letter-spacing: 0px;
  }

  .industry-list li {
    height: 100px;
    line-height: 100px;
  }


}
